body{
  background-color:#f8efd4;
  margin: 0px;
}
hr{
  border-style: dotted none none;
  height: 0px;
  width: 5%;
  border-color: #132743;
  border-width: 5px;
}
h1{
  color: #d7385e;
  margin-top: 0px;
  padding-left: 20px;
  padding-top: 20px;
}
h3{
  color: #d7385e;
  padding-left: 20px;
}
p{
  padding-left: 20px;
}
